/*reset css*/
*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}



label{
    display: block;
 }


 form{ 
    border: 1px solid red;
    width: 500px;
    padding: 3px 25px 30px;
    margin: 20px auto;
    box-shadow: 30px 30px 5px 12px black ;
 }

 h2{
    text-align: center;
    /* margin-top: 30px;
    margin-bottom: 20px; */
    margin: 30px 0 20px;
 }

 input{
    width: 100%;
    height: 35px;
    margin-bottom: 20px;
 }

 button {
    width: 200px;
    height: 40px;
    background-color: blueviolet;
    border: none;
    border-radius: 10px;
    display: block;
    margin: auto;
    font-size: 18px;
    cursor: pointer;
 }
 .pswd{
    font-size: 17px;
    color: red;
 }

 .lb-color{
    color:orangered;
    font-size: 40px;
 }

 


